In [1]:
import re 
import pandas as pd

Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [2]:
def is_vowel(subject):
    '''This function accepts a string as an input and determines if the string passed is a vowel'''
    regexp = r'^[AEIOUaeiou]'
    if re.findall(regexp, subject):
        print('That\'s a vowel.')
    else:
        print('That\'s not a vowel.')

In [3]:
is_vowel('aeiou')

That's a vowel.

In [4]:
is_vowel('1')

That's not a vowel.

Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [5]:
def is_valid_username(subject):
    regexp = r'^[a-z]\w{1,31}$'
    if re.findall(regexp, subject):
        return True
    else:
        return False

In [6]:
is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')

False

In [7]:
is_valid_username('codeup')

True

In [8]:
is_valid_username('Codeup')

False

In [9]:
is_valid_username('codeup123')

True

In [10]:
is_valid_username('1codeup')

False

Write a regular expression to capture phone numbers. It should match all of the following:

- (210) 867 5309
- +1 210.867.5309
- 867-5309
- 210-867-5309

In [11]:
#create empty df
df = pd.DataFrame()

#create df column from the list of numbers
df['number'] = [
    '(210) 867 5309',
    '+1 210.867.5309',
    '867-5309',
    '210-867-5309',
    '2108675309'
]

In [12]:
#create pattern variable
regexp = re.compile(
'''
^
(?P<country_code>\+\d+)?
\D*?
(?P<area_code>\d{3})?
\D*?
(?P<exchange_code>\d{3})
\D*?
(?P<line_number>\d{4})
\D*
$
''', re.VERBOSE)

In [13]:
#extract the pattern
df.number.str.extract(regexp)

  country_code area_code exchange_code line_number
0          NaN       210           867        5309
1           +1       210           867        5309
2          NaN       NaN           867        5309
3          NaN       210           867        5309
4          NaN       210           867        5309

In [14]:
#concat the number column
pd.concat([df, df.number.str.extract(regexp)], axis = 1)

            number country_code area_code exchange_code line_number
0   (210) 867 5309          NaN       210           867        5309
1  +1 210.867.5309           +1       210           867        5309
2         867-5309          NaN       NaN           867        5309
3     210-867-5309          NaN       210           867        5309
4       2108675309          NaN       210           867        5309

Use regular expressions to convert the dates below to the standardized year-month-day format.

- 02/04/19
- 02/05/19
- 02/06/19
- 02/07/19
- 02/08/19
- 02/09/19
- 02/10/19

In [15]:
#create series from list of dates
dates = pd.Series(['02/04/19','02/05/19','02/06/19','02/07/19','02/08/19','02/09/19','02/10/19'])

In [16]:
dates_reg = r'(\d+)/(\d+)/(\d+)'
[re.sub(dates_reg, r'20\3-\1-\2', date) for date in dates]

['2019-02-04',
 '2019-02-05',
 '2019-02-06',
 '2019-02-07',
 '2019-02-08',
 '2019-02-09',
 '2019-02-10']

Write a regex to extract the various parts of these logfile lines:

- GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58

- POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58

- GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58

In [17]:
#create logfile lines variable
logs = """
GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58
"""

In [18]:
#create pattern variable
regexp = r'''
^(?P<request>GET|POST)
\s+
(?P<path>[/\w\-\?=]+)
\s+
\[(?P<timestamp>.+)\]
\s+
(?P<version>HTTP/\d+\.\d+)
\s+
\{(?P<status_code>\d+)\}
\s+
(?P<bytes_out>\d+)
\s+
"(?P<user_agent>.+)"
\s+
(?P<ip>\d+\.\d+\.\d+\.\d+)$
'''

In [19]:
#create variable w/prepped expression and ignore whitespace
regex = re.compile(regexp, re.VERBOSE)

df = pd.DataFrame()
df['log'] = logs.strip().split('\n')
df = pd.concat([df, df.log.str.extract(regex)], axis=1)
df

,log,request,path,timestamp,version,status_code,bytes_out,user_agent,ip
0,GET /api/v1/sales?page=86 [16/Apr/2019:193452+...,GET,/api/v1/sales?page=86,16/Apr/2019:193452+0000,HTTP/1.1,200,510348,python-requests/2.21.0,97.105.19.58
1,POST /users_accounts/file-upload [16/Apr/2019:...,POST,/users_accounts/file-upload,16/Apr/2019:193452+0000,HTTP/1.1,201,42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...,97.105.19.58
2,GET /api/v1/items?page=3 [16/Apr/2019:193453+0...,GET,/api/v1/items?page=3,16/Apr/2019:193453+0000,HTTP/1.1,429,3561,python-requests/2.21.0,97.105.19.58

**Bonus Exercise**

You can find a list of words on your mac at /usr/share/dict/words. Use this file to answer the following questions:

- How many words have at least 3 vowels?
- How many words have at least 3 vowels in a row?
- How many words have at least 4 consonants in a row?
- How many words start and end with the same letter?
- How many words start and end with a vowel?
- How many words contain the same letter 3 times in a row?
- What other interesting patterns in words can you find?